    /*All Resolutions*/
            img {
                max-width: 100%;
                height: auto;
            }


            .page-header {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
            }


            body {
                font-family: "Segoe UI", sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f0f0f0;
            }
        /*Header and Footer Styles*/
            header, footer {
                color: #fff;
                text-align: center;
                padding-top: 200px;
            }


            .page-footer {
                font-size: 1em;
                margin-top: 10px;
                padding: 5px 0;
                width: 100%;
                bottom: 0;
                border-top: 2px;
                border-top-color: #011638;
                color: #011638;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .footer-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #011638;
            }

        /*Heading Styles*/
            .h2 {
                font-size: 2em;
                font-weight: bold;
                text-align: center;
                margin-bottom: 20px;
                color: #011638;
            }

            .h4 {
                font-size: 1.5em;
                font-weight: bold;
                color: #9a7AA0;
                margin-bottom: 10px;
                text-align: center;
            }

        /*Body Content Styles*/
            main {
                max-width: 100%;
                margin-top: 200px;
                overflow-x: auto;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .card-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
            }

            body {
                font-family: "Segoe UI", sans-serif;
                margin: 0;
                padding: 0;
                background-color: #ffffff;
            }

            .card {
                flex: 0 0 calc(33.33% - 20px);
                max-width: calc(33.33% - 20px);
                background-color: #fff;
                border: 1px solid #3F5E5A;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                margin: 10px;
                padding: 20px;
                text-align: center;
            }

            .card-description {
                margin-bottom: 15px;
                text-align: center            }

            .profile-box {
                position: fixed;
                right: 0;
                background-color: #f8f8f8;
                padding: 20px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                max-height: 80vh;
                width: 20%;
                margin-top: 20px;
                overflow-y: auto;
                text-align: center;
                border: 1px solid #3F5E5A;
            }

            .profile-box img {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }

            .grid-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                width: calc(50% - 10px);
                margin: 0 auto;
                padding-top: 150px;
            }

            .infobox {
                grid-column: span 1;
                padding: 10px;
                background-color: #fff;
                border: 2px solid #3F5E5A;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 20px;
                break-inside: avoid;

            }

            .infobox:nth-of-type(odd):last-of-type {
                grid-column: span 2;
                column-count: 2;
                word-break: break-word;
                background-color: #fff;
                border: 2px solid #3F5E5A;
            }

            p, .infobox p  {
                margin-bottom: 15px;
            }

        /*Buttons*/
            button[type="submit"] {
                background-color: #011638;
                color: white;
                padding: 8px 16px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            button[type="submit"]:hover {
                background-color: #86BBD8;
            }

        /*Project List*/
            .container-fluid {
                position: relative;
                z-index: 2;
                width: 100%;
            }

            .heading-proj1 {
                cursor: pointer;
                background-color: #fff;
                border-bottom: solid 1px #212121;
                padding: 2rem;
                transition: background-color 0.5s ease;
            }

            .heading-proj1:hover {
                background-color: #86BBD8;
                border-bottom: solid 1px #86BBD8;
            }

            .heading-proj2{
                cursor: pointer;
                background-color: #fff;
                border-bottom: solid 1px #212121;
                padding: 2rem;
                transition: background-color 0.5s ease;
            }

            .heading-proj2:hover {
                background-color: #AABD8C;
                border-bottom: solid 1px #AABD8C;
            }

            .heading-proj3 {
                cursor: pointer;
                background-color: #fff;
                border-bottom: solid 1px #212121;
                padding: 2rem;
                transition: background-color 0.5s ease;
            }

            .heading-proj3:hover {
                background-color: #9A7AA0 ;
                border-bottom: solid 1px #9A7AA0 ;
            }

            .tab-content {
                display: none;
            }

            .left-content {
                padding-left: 4rem;
                padding-top: 4rem;
                font-size: 3.75rem;
            }

            .right-content {
                padding-left: 4rem;
                padding-top: 4rem;
            }

            .img-custwidth {
                padding-top: 4rem;
                width: 512px;
            }

        /*Image Containers*/
            .image-container {
                display: flex;
                gap: 10px;
            }

            .wireframe-image {
                align-items: center;
                max-width: 90%;
                height: auto;
            }

        /*Tables*/
            .table-container {
                position: relative;
                overflow-x: auto;
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                border-radius: 0.375rem;
                margin-bottom: 20px;
            }

            .table {
                width: 100%;
                font-size: 0.875rem;
                text-align: left;
                color: #011638;
            }

            .table thead {
                font-size: 0.75rem;
                text-transform: uppercase;
                background-color: #3F5E5A;
                color: #f0f0f0;
            }

            .table th,
            .table td {
                padding: 1rem;
                border-bottom: 1px solid #e5e7eb;
            }

            .table tbody tr:hover {
                background-color: #9A7AA0;
            }

            .table th {
                font-weight: 600;
            }

            .table td {
                font-weight: 400;
            }

        /*Forms*/
            label {
                color: #011638;
                font-weight: bold;
                display: block;
                margin-bottom: 6px;
                background-color: #9A7AA0;
                font-size: 1em;

            }

            .contact.form {
                width: calc(60% - 10px);
                margin-bottom: 6px;
            }

            .contact.form input,
            .contact.form textarea {
                padding: 10px;
                width: 100%;
                margin-bottom: 10px;
                box-sizing: border-box;
                border: 1.5px solid #3F5E5A;
                border-radius: 5px;
            }

    /*Desktop Style*/
        @media screen and (min-width: 769px) {

            button {
                background-color: #011638;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 10px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }

            button:hover {
                background-color: #86BBD8;

            }

            .wireframe-image {
                max-width: 100%;
                height: auto;
                width: auto;
                margin: 0 auto;
                display: block;
            }

        }

    /*Mobile Style*/
        @media screen and (max-width: 768px) {
            .logo, .profile-box {
                display: none;
            }

            .page-header {
                font-size: .5em;
                max-width: 768px;
                margin: 0 auto;
                padding: 5px 0;
            }

            main {
                padding-top: 80px;
                padding-bottom: 20px;
                margin-top: 80px;
            }

            .page-footer {
                font-size: .5em;
                max-width: 768px;
                margin: 0 auto;
            }


            .card {
                flex: 0 0 calc(100% - 10px);
                max-width: calc(100% - 10px);
                padding: 1rem;
                margin-bottom: 0.6rem;
                text-align: justify;
                word-break: break-word;
            }


            .grid-container {
                font-size: .8em;
                max-width: 768px;
                padding: 5px 0;
                width: calc(90% - 10px);
            }

            .infobox, .infobox:nth-child(odd):not(:first-child) {
                grid-column: span 2;
                column-count: 1;
                word-break: break-word;
            }

            .table th,
            .table td {
                    padding: 0.8rem;

            }

            .table thead {
                    font-size: 0.7rem;

            }

            .image-container {
                flex-direction: column;
                align-items: center;
            }


        }